.jumbotron {
  text-align:center;
  padding: $jumbotron-padding;
  margin-bottom:0;
  margin-top:1rem;
  background-color: $jumbotron-bg;
  @include border-radius($border-radius-lg);
  
  @include media-breakpoint-up(sm) {
    padding: 2rem;    
  }
}

