.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
h1 {
    display:block;
    width:250px;
    height:105px;
    background-image:url('podcast-depot-logo.png');
    background-size:250px 105px;
    background-position:top left;
    margin:0 auto 1.7rem auto;    
}
@include media-breakpoint-up(sm) {
    h1 {
        width:350px;
        height:147px;
        background-size:350px 147px;
    }
}
@include media-breakpoint-up(md) {
    h1 {
        width:500px;
        height:210px;
        background-size:500px 210px;
    }
}
h2 {
    text-align:center;
    font-weight:normal;
    font-size:1.7rem;
    padding:0 0 1rem 0;
    margin-bottom:0.5rem;
}
h3 {
    font-size:1.5rem;
    margin-top:1rem;
}
.card-img-top {
    height:100%;
}
