.buildpath
.project
.settings
config.php
.sass-cache/
assets/
*.phar
*.sh
/public/*.ico
/public/*.png

###> symfony/framework-bundle ###
.env*
/public/bundles/
/public/assets/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
