.buildpath
.project
.settings
.idea
config.php
.sass-cache/
*.phar
*.sh
/public/*.ico
/public/*.png
/feedcache/

###> symfony/framework-bundle ###
.env*
/public/bundles/
/public/assets/*
!/public/assets/podcastdepot-feed.rss
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
