.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
    margin-bottom:0;
    padding-bottom:2rem;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}
h1 {
    display:block;
    width:250px;
    height:105px;
    text-indent:-9999px;    
    background-image:url('assets/podcast-depot-logo.png');
    background-size:250px 105px;
    background-position:top left;
    margin:0 auto 1em auto;    
}
@media (min-width: 400px) {
    h1 {
        width:350px;
        height:147px;
        background-size:350px 147px;
    }
}
@media (min-width: 576px) {
    h1 {
        width:500px;
        height:210px;
        background-size:500px 210px;
    }
}
h2 {
    text-align:center;
    font-weight:normal;
    font-size:1.7rem;
    padding:0 0 1rem 0;
    margin-bottom:2rem;
    border-bottom: 1px solid #E0E0E0;
}
h3 {
    font-size:1.5rem;
    margin-top:1rem;
}
.btn-primary {
    background-color:rgba(251, 190, 72, 1);
    border-color:#000000;
    color:#000000;
}
.btn-primary:hover, .btn-primary:active {
    background-color:rgba(251, 190, 72, 0.5);
    border-color:#000000;
    color:#000000;
}

