<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Welcome!{% endblock %}</title>
<meta name="description" content="Unter dem Namen PodcastDepot produziert und veröffentlicht Pascal Dupré - besser bekannt als KleinesP -  unterschiedliche Podcast-Formate. Dabei sind alle Episoden frei und kostenlos im Internet verfügbar.">
<link rel="stylesheet" href="/assets/fontawesome/fontawesome-all.min.css">
<link rel="stylesheet" href="/assets/podcastdepot.min.css?date={{ csstime }}">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon.png" sizes="96x96">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
{% block header %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-warning sticky-top">
    <div class="container">
        <a class="navbar-brand ml-lg-5" href="/">        
            <img src="/assets/podcastdepot.svg" width="172" height="40" alt="PodcastDepot">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navigation ein- und ausblenden">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-2">
                    <a class="nav-link" href="https://www.patreon.com/KleinesP" title="KleinesP auf Patreon.com"><i class="fas fa-heart" aria-hidden="true"> </i> Pascal unterstützen</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/feed/" title="Gemeinsamer RSS-Feed für alle PodcastDepot-Podcasts"><i class="fas fa-rss-square" aria-hidden="true"> </i> Feed</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link" href="/kalender/" title="Termine, Termine, Termine..."><i class="fas fa-calendar" aria-hidden="true"> </i> Kalender</a>
                </li>
                <li class="nav-item dropdown mr-4">
                    <a class="nav-link dropdown-toggle" href="#" title="Kontakt zum PodcastDepot" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-comment"> </i> Kontakt
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://discord.gg/z9JPPnc" title="PodcastDepot-Community auf Discord" target="_blank" rel="noopener"><i class="fab fa-discord mr-1" aria-hidden="true"> </i> Discord</a>
                        <a class="dropdown-item" href="https://twitter.com/podcastdepot" title="PodcastDepot auf Twitter" target="_blank" rel="noopener"><i class="fab fa-twitter-square mr-1" aria-hidden="true"> </i> Twitter</a>
                        <a class="dropdown-item" href="#" title="E-Mail an das PodcastDepot" data-toggle="modal" data-target="#dialog" data-remote="/kontakt/"><i class="fas fa-envelope mr-1" aria-hidden="true"> </i> Kontaktformular</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>        
</nav>
    
<div class="container">

    


{% block body %}{% endblock %}


</div>

{% block javascripts %}{% endblock %}

</body>
</html>