{% extends 'bootstrap4.html.twig' %}

{% block title %}PodcastDepot - Podcasts von und mit Pascal Dupré{% endblock %}

{% block body %}
    
    <div class="jumbotron">
        <h1 class="text-hide">PodcastDepot</h1>
        {% for e in errors %}
            <div class="alert alert-danger alert-dismissible fade show mx-lg-5 my-lg-3" role="alert">
                <strong>Fehler!</strong> {{ e }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for n in notices %}
            <div class="alert alert-success alert-dismissible mx-lg-5 my-lg-3 fade show" role="alert">
                {{ n }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Schließen">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <p class="lead">Unter dem Namen PodcastDepot produziert und veröffentlicht Pascal Dupré - besser bekannt als KleinesP -  unterschiedliche Podcast-Formate. Dabei sind alle Episoden frei und kostenlos im Internet verfügbar.</p>
    </div>         
    <div class="row">
        <div class="col-12">
            <h2>Podcast-Formate von und mit Pascal Dupré</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 my-2">
            <div class="card">
                <img class="card-img-top" src="assets/kleinesgespraech-logo.png" alt="KleinesGespräch Logo">
                <div class="card-body text-center">
                    <h3 class="card-title">KleinesGespräch</h3>
                    <p>“KleinesGespräch” ist eine lockere und zwanglose Unterhaltung. Dabei kommt man oft vom Hölzchen aufs Stöckchen und verquatscht sich ein wenig – “KleinesGespräch” liegt damit fernab vom Standard-Interviewformat.</p>
                    <div class="dropdown show my-3 mt-4">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="kgDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mehr erfahren
                        </a>
                        <div class="dropdown-menu" aria-labelledby="kgDropdownMenuLink">
                            <a class="dropdown-item" href="https://kleinesgespraech.de" target="_blank" rel="noopener"><i class="fas fa-home" aria-hidden="true"> </i> KleinesGespräch Website</a>
                            <a class="dropdown-item" href="https://kleinesgespraech.de/feed/feed-mp3/" target="_blank" rel="noopener"><i class="fas fa-rss" aria-hidden="true"> </i> Feed abonnieren</a>
                            <a class="dropdown-item" href="https://itunes.apple.com/de/podcast/kleinesgespr%C3%A4ch/id1140602291?mt=2" target="_blank" rel="noopener"><i class="fas fa-podcast" aria-hidden="true"> </i> Auf itunes anhören</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-2">
            <div class="card">
                <img class="card-img-top" src="assets/thematischfrisch-logo.png" alt="ThematischFrisch Logo">
                <div class="card-body text-center">
                    <h3 class="card-title">ThematischFrisch</h3>
                    <p>Ursprünglich im Jahr 2016 als “KleinesGespräch Thema” gestartet, hat sich dieser Podcast inzwischen zu einem eigenen Format entwickelt. Pascal bespricht dabei regelmäßig mit fachkundigen Gästen ein aktuelles Thema. </p>
                    <div class="dropdown show my-3 mt-4">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="tfDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mehr erfahren
                        </a>
                        <div class="dropdown-menu" aria-labelledby="tfDropdownMenuLink">
                            <a class="dropdown-item" href="https://thematischfrisch.de" target="_blank" rel="noopener"><i class="fas fa-home" aria-hidden="true"> </i> ThematischFrisch Website</a>
                            <a class="dropdown-item" href="https://thematischfrisch.de/feed/mp3/" target="_blank" rel="noopener"><i class="fas fa-rss" aria-hidden="true"> </i> Feed abonnieren</a>
                            <a class="dropdown-item" href="https://itunes.apple.com/de/podcast/thematischfrisch/id1287535506?mt=2" target="_blank" rel="noopener"><i class="fas fa-podcast" aria-hidden="true"> </i> Auf itunes anhören</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 my-2">
            <div class="card">
                <img class="card-img-top" src="assets/kommune-vierzwei-logo.png" alt="Kommune VierZwei Logo">
                <div class="card-body text-center">
                    <h3 class="card-title">Kommune VierZwei</h3>
                    <p>Im brandneuen Podcast-Format "Kommune VierZwei" spricht Pascal mit seinen beiden Gesprächspartnern Dave und Steffen in lockerer Runde und entspannter Atmosphäre über aktuelle Themen, Erlebnisse oder Ereignisse.</p>
                    <div class="dropdown show my-3 mt-4">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="kmDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mehr erfahren
                        </a>
                        <div class="dropdown-menu" aria-labelledby="kmDropdownMenuLink">
                            <a class="dropdown-item" href="https://kommune-vierzwei.de" target="_blank" rel="noopener"><i class="fas fa-home" aria-hidden="true"> </i> Kommune VierZwei Website</a>
                            <a class="dropdown-item" href="https://kommune-vierzwei.de/feed/mp3/" target="_blank" rel="noopener"><i class="fas fa-rss" aria-hidden="true"> </i> Feed abonnieren</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="row">
            <div class="col-8">&copy; 2012 - {{ jahr }} Pascal Dupré</div>
            <div class="col-4 text-right">
                <a href="#" data-toggle="modal" data-target="#dialog" data-remote="/impressum/">Impressum</a> | <a href="#" data-toggle="modal" data-target="#dialog" data-remote="/datenschutz/">Datenschutz</a>
            </div>
        </div>
    </footer>

<!-- Modaler Dialog -->
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="dialoglabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"></div>
    </div>
</div>
    
{% endblock %}

{% block javascripts %}

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript">
$('body').on('click', '[data-toggle="modal"]', function(){
    $($(this).data("target")+' .modal-content').load($(this).data("remote"));
});
$('body').on('click', '#kontaktlink', function(){
    $('#dialog .modal-content').load('/kontakt/');
});
$('body').on('click', '#datenschutzlink', function(){
    $('#dialog .modal-content').load('/datenschutz/');
});
$('body').on('click', '#impressumlink', function(){
    $('#dialog .modal-content').load('/impressum/');
});
</script>

{% endblock %}